{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Movies{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <header>
                <div>
                    <h1>{{ post['title'] }}</h1>
                    <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}
                    </div>
                </div>
            {% if g.user['id'] == post['author_id'] %}
                <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
            {% endif %}
            </header>
            <p class="body">{{ post['body'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}

    <table>
        <tr>
            {% for image in img %}
                {% if loop.index <= 5 %}
                        <th>
                            <a href="{{ image['image'] }}"><img src="{{ image['image'] }}" alt="url_for('static', filename=images/movenotfound)"width="125" height="150"></a>
                        </th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            {% for image in img %}
                <td>{{ image['name'] }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for image in img %}
                <td>temp desc</td>
            {% endfor %}
        </tr>

    </table>
{% endblock %}
