{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Recommend{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="by-item">
        <header>
            <h1>Recommendations by Movie 1:</h1>
        </header>
        <p>Movie 1</p>
        <p>Movie 2</p>
        <p>Movie 3</p>
        <p>Movie 4</p>
        <p>Movie 5</p>
    </article>

    <article class="by-item">
        <header>
            <h1>Recommendations by Movie 2:</h1>
        </header>
        <p>Movie 1</p>
        <p>Movie 2</p>
        <p>Movie 3</p>
        <p>Movie 4</p>
        <p>Movie 5</p>
    </article>

    <article class="by-item">
        <header>
            <h1>Recommendations by Movie 3:</h1>
        </header>
        <p>Movie 1</p>
        <p>Movie 2</p>
        <p>Movie 3</p>
        <p>Movie 4</p>
        <p>Movie 5</p>
    </article>
{% endblock %}
