{% extends 'base.html' %}
{% block head %}
<title>Discord Movies!</title>
{% endblock %}

{% block body %}


<div class="content">
    <h1>Rate Movies</h1>
    <table>
        <tr>
            <th>Movie 1</th>
            <th>Movie 2</th>
            <th>Movie 3</th>
            <th>Movie 4</th>
            <th>Movie 5</th>
        </tr>
        <tr>
            <td><img src="" alt=""></td>
            <td>Movie</td>
            <td>Movie</td>
            <td>Movie</td>
            <td>Movie</td>
        </tr>
        <tr>
            <td>Desc</td>
            <td>Desc</td>
            <td>Desc</td>
            <td>Desc</td>
            <td>Desc</td>
        </tr>
    </table>
</div>


{% endblock %}
